body, html {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2C2F97;
  z-index: -3;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.log-regp {
  height: 100vh; 
}